.button {
  margin-top: 25px;
}

.button #buttonEle {
  border-radius: 4px;
  font-family: 'Gloria Hallelujah', cursive;
  background: rgb(10, 163, 156);
  letter-spacing: 2px;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button #buttonEle:hover,
.button #buttonEle:focus,
.button #buttonEle:active {
  -webkit-box-shadow: inset -7em 0 0 0 rgb(162, 235, 231),
    inset 7em 0 0 0 rgb(162, 235, 231);
  box-shadow: inset -7em 0 0 0 rgb(162, 235, 231),
    inset 7em 0 0 0 rgb(162, 235, 231);
  color: rgb(10, 163, 156);

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}
