.formInput {
  .containerForm {
    margin-left: 8vw;
    margin-right: 8vw;
    .geosuggest {
      font-size: 1rem;
      position: relative;
      width: 100%;
      margin: 0.5em auto;
      text-align: left;
      border-block-end: 1px solid white;
    }
    .geosuggest__input {
      width: 100%;
      color: white;
      border: 0px solid black;
      padding: 1em 1em;
      background: transparent;
      transition: border 0.5s, box-shadow 0.5s;
      animation: none;
      &::placeholder {
        text-align: center;
        color: white;
      }
    }
    .geosuggest__input:focus {
      box-shadow: 0 0 0 transparent;
      border: 0px solid black;
      outline: none;
    }
    .geosuggest__suggests {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 25em;
      padding: 0px;
      margin-top: -1px;
      color: antiquewhite;
      background: rgba(0, 0, 0, 0.85);
      border: 0px solid white;
      border-top-width: 0;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;
      z-index: 5;
      transition: max-height 0.2s, border 0.2s;
    }
    .geosuggest__suggests--hidden {
      max-height: 0;
      overflow: hidden;
      border-width: 0;
    }

    /**
     * A geosuggest item
     */
    .geosuggest__item {
      font-size: 18px;
      padding: 0.5em 0.65em;
      cursor: pointer;
    }
    .geosuggest__item:hover,
    .geosuggest__item:focus {
      background: #373b3d;
    }
    .geosuggest__item--active {
      background: #373b3d;
      color: antiquewhite;
    }
    .geosuggest__item--active:hover,
    .geosuggest__item--active:focus {
      background: #2b2e30;
    }
    .geosuggest__item__matched-text {
      font-weight: bold;
    }
  }
}
