.formInput {
  width: 70%;
}
.formInput .containerForm .geosuggest {
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: 0.5em auto;
  text-align: left;
  border-bottom: 1px solid white;
}

.formInput .containerForm .geosuggest__input {
  width: 100%;
  color: white;
  border: 0px solid black;
  padding: 1em 1em;
  background: transparent;
  -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: border 0.5s, box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-animation: none;
  animation: none;
}

.formInput .containerForm .geosuggest__input::-webkit-input-placeholder {
  text-align: center;
  color: white;
}

.formInput .containerForm .geosuggest__input:-ms-input-placeholder {
  text-align: center;
  color: white;
}

.formInput .containerForm .geosuggest__input::-ms-input-placeholder {
  text-align: center;
  color: white;
}

.formInput .containerForm .geosuggest__input::-moz-placeholder {
  text-align: center;
  color: white;
}

.formInput .containerForm .geosuggest__input::placeholder {
  text-align: center;
  color: white;
}

.formInput .containerForm .geosuggest__input:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border: 0px solid black;
  outline: none;
}

.formInput .containerForm .geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0px;
  margin-top: -1px;
  color: rgb(10, 163, 156);
  background: rgba(255, 255, 255, 0.9);
  border: 0px solid white;
  border-top-width: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 999;
  -webkit-transition: max-height 0.2s, border 0.2s;
  -o-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.formInput .containerForm .geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.formInput .containerForm .geosuggest__item {
  font-size: 14px;
  padding: 0.5em 0.65em;
  cursor: pointer;
}

.formInput .containerForm .geosuggest__item:hover,
.formInput .containerForm .geosuggest__item:focus {
  background: rgb(10, 163, 156);
  color: white;
}

.formInput .containerForm .geosuggest__item--active {
  background: rgb(10, 163, 156);
  color: white;
}

.formInput .containerForm .geosuggest__item--active:hover,
.formInput .containerForm .geosuggest__item--active:focus {
  background: rgb(10, 163, 156);
  color: white;
}

.formInput .containerForm .geosuggest__item__matched-text {
  font-weight: bold;
}

@media (max-width: 450px) {
  .formInput {
    width: 100%;
  }
}
