@import url('https://fonts.googleapis.com/css?family=Poly&display=swap');
$alignment: center;
$containerBackground: white;

.loading {
  height: 100vh;
  overflow: hidden;
  animation: backgroundRender 20s alternate infinite;
  #containerEle {
    text-align: $alignment;
    margin: 25vh 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 80px;

    .loadingScreen {
      animation: colorRender 20s alternate infinite;
      .iconEle {
        margin-top: 1rem;
      }
      .headerEle {
        display: inline;
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: bolder;
        font-family: 'Poly', serif;
      }
    }
  }
  .headerEleInit {
    display: block;
    margin: 0 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Poly', serif;
  }
}

@keyframes backgroundRender {
  0% {
    background: crimson;
  }
  20% {
    background: goldenrod;
  }
  40% {
    background: lightcoral;
  }
  60% {
    background: darkseagreen;
  }
  80% {
    background: deepskyblue;
  }
  100% {
    background: rgb(201, 135, 240);
  }
}

@keyframes colorRender {
  0% {
    color: crimson;
  }
  20% {
    color: goldenrod;
  }
  40% {
    color: lightcoral;
  }
  60% {
    color: darkseagreen;
  }
  80% {
    color: deepskyblue;
  }
  100% {
    color: rgb(201, 135, 240);
  }
}
