.loading {
  height: 100%;
  overflow: hidden;
}

.loading #containerEle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-transition: linear 0.15s;
  -o-transition: linear 0.15s;
  transition: linear 0.15s;
}

@media (max-width: 900px) {
  .loading #containerEle {
    width: 70%;
    -webkit-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
  }
}
@media (max-width: 500px) {
  .loading #containerEle {
    width: 90%;
    -webkit-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
  }
}
