@import url('https://fonts.googleapis.com/css?family=Poly&display=swap');
$fontFam: 'Poly', serif;
$pTransits: all linear 0.15s;

.weatherContent {
  font-family: $fontFam;
  height: 25rem;
  color: white;
  .containEle {
    height: 25rem;
    margin: 0 3vw;
    text-align: center;
    h3 {
      display: block;
      font-family: inherit;
    }

    .tempButton {
      cursor: pointer;
      border-radius: 4px;
      background: transparent;

      padding: 5px 10px;
      border: 0px solid black;
      // color: black;
      margin: 0 5px;
      transition: all ease-in-out 0.3s;
      outline: none;
      // &:focus {
      //   background: rgb(68, 65, 65);
      //   color: white;
      // }
    }

    .gridEle {
      justify-content: space-around;
      .column {
        span {
          font-weight: bolder;
        }
        p {
          font-size: 2.5rem;
          transition: $pTransits;
        }
      }
    }
    .secondGridEle {
      margin-top: 0;
      .column {
        span {
          font-weight: bolder;
        }
        p {
          font-size: 2.5rem;
          transition: $pTransits;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .weatherContent {
    .containEle {
      .gridEle {
        .column {
          p {
            font-size: 2rem;
            transition: all linear 0.15s;
          }
        }
      }
      .secondGridEle {
        .column {
          p {
            font-size: 2rem;
            transition: all linear 0.15s;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .weatherContent {
    .containEle {
      h3 {
        .refreshButt {
          margin-left: 0px;
          padding: 0 5px;
        }
      }
    }
  }
}
